@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> signInManager;
@inject UserManager<ApplicationUser> UserManager;

@{
    var user = await UserManager.GetUserAsync(User);
    var userId = Context.Session.GetInt32("UserId");
}
<!--::header part start::-->
<header class="main_menu home_menu">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-11">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" asp-action="Index" asp-controller="Home">
                        <img src="~/img/logo.png" alt="logo">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="menu_icon"><i class="fas fa-bars"></i></span>
                    </button>

                    <div class="navbar-collapse collapse main-menu-item" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ">
                            <li class="nav-item">
                                <a class="nav-link" asp-action="Index" asp-controller="Home">Home</a>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown_1"
                                   role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Shop
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown_1">
                                    <a class="dropdown-item" asp-action="Category" asp-controller="Shop"> shop category</a>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a asp-action="Contact" asp-controller="Home" class="nav-link">Contact Us</a>
                            </li>

                        </ul>


                    </div>

                    <ul class="nav navbar-nav navbar-right">

                        @if (signInManager.IsSignedIn(User))
                        {

                            <li class="nav-item dropdown ">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown_3"
                                   role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @User.Identity.Name
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown_2">
                                    @*<a class="dropdown-item" asp-action="Index" asp-controller="Account" asp-route-Id="@user.Id">*@
                                    <a class="dropdown-item" asp-action="Index" asp-controller="Account" asp-route-Id="@userId">
                                        <i class="fas fa-user " style="color: whitesmoke"></i>
                                        Profile
                                    </a>
                                    <a class="dropdown-item" asp-action="Cart" asp-controller="Shop" asp-route-userId="@userId">
                                        <i class="fas fa-shopping-cart" style="color: whitesmoke"></i>
                                        Cart
                                    </a>
                                    <a class="dropdown-item" href="checkout.html">
                                        <i class="fa fa-home" style="color: whitesmoke"></i>
                                        Orders
                                    </a>

                                </div>
                            </li>

                            <li class="nav-item">
                                <form method="post" asp-action="Logout" asp-controller="Account">
                                    <button type="submit" class=" genric-btn danger circle arrow ">
                                        Sign Out
                                    </button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown_2"
                                   role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Account
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown_2">
                                    <a asp-action="Login" asp-controller="Account" class="dropdown-item">
                                        Sign In
                                    </a>
                                    <a asp-action="Register" asp-controller="Account" class="dropdown-item">
                                        Sign Up
                                    </a>
                                </div>
                            </li>
                        }

                    </ul>

                </nav>
            </div>
        </div>
    </div>
    <div class="search_input" id="search_input_box">
        <div class="container ">
            <form class="d-flex justify-content-between search-inner">
                <input type="text" class="form-control" id="search_input" placeholder="Search Here">
                <button type="submit" class="btn"></button>
                <span class="ti-close" id="close_search" title="Close Search"></span>
            </form>
        </div>
    </div>
</header>
<!-- Header part end-->