
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Winter.ViewModels.ChangePasswordViewModel

<!-- Start Align Area -->
<div class="whole-wrap">
    <div class="container box_1170">
        <div class="section-top-border">
            <div class="row">
                <div class="col-lg-4 col-md-8">
                    <h3 class="mb-30">Change Password</h3>
                    <form asp-action="ChangePassword" asp-controller="Account" method="post">
                        <div class="mt-10">
                            <input type="password" placeholder="Current Password"
                                   class="single-input" asp-for="CurrentPassword">
                        </div>
                        <div class="mt-10">
                            <input type="password" placeholder="New Password" 
                                    class="single-input" asp-for="NewPassword">
                        </div>
                        <div class="mt-10">
                            <input type="password"  placeholder="Confirm Password" 
                                    class="single-input" asp-for="ConfirmPassword">
                        </div>
                        <div class="mt-10">
                            <button type="submit" class="genric-btn primary circle arrow">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Align Area -->