
@{
    ViewData["Title"] = "CategoryDetails";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
@model Winter.ViewModels.Output_Models.CategoryOutputViewModel

<div class="boxed">
    <div id="content-container">
        <div id="page-content">
            <div class="row">
                <div class="col-lg-3">
                    <!-- Tips Widget -->
                    <!--===================================================-->
                    <div class="panel">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <i class="fa fa-life-ring"></i> Category Details
                            </div>
                        </div>
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                <li><strong class="text-dark">Category Name:</strong> </li>
                                <li>@Html.DisplayFor(model => model.CategoryName)</li>
                            </ul>
                            <ul class="list-unstyled pt-10">
                                <li><strong class="text-dark"> Description:</strong> </li>
                                <li>@Html.DisplayFor(model => model.Description)</li>
                            </ul>
                        </div>
                    </div>
                    <!--===================================================-->
                </div>

                <div class="col-sm-12">
                    <a class="btn btn-mint btn-rounded" asp-action="Index" asp-controller="Admin">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>